.mainForm {
  display: flex;
  flex-flow: column;
}

.successText {
  color: #27ae60;
}

.failText {
  color: #c0392b;
}

.mainForm label {
  margin-top: 1.5em;
  font-size: 1.5em;
}

.mainForm input {
  display: flex;
  flex-flow: column;
  width: 90%;
  border-style: none none solid none;
  border-color: #555;
  outline: none;
  margin-top: .5em;
  font-size: 1.5em;
  line-height: 2;
}

.button {
  margin-top: 1em;
  height: 2.5em;
  font-size: 1.25em;
  text-transform: uppercase;
  border-radius: 1px;
  border-style: none;
  background-color: #34495e;
  color: #fff;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #2c3e50;
}
